.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif !important;
}

.auth-container {
  background: rgba(255, 255, 255, 0.09);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); testing differnet shadows around the login panel */
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  width: 400px;
}

.auth-container h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.auth-form input::placeholder {
  color: #eee;
}

.auth-form button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.error {
  color: #ff8080;
  text-align: center;
  margin-bottom: 1rem;
}

.auth-switch {
  text-align: center;
  margin-top: 1rem;
  color: #fff;
}

.auth-switch a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}